.profile-picture{
    width: 200px;
    height: 200px;
    border-radius: 10%;
    margin-bottom: 10px;
  }

.book-detail-image{
  width: 250px;
  height: 300px;
  border-radius: 10%;

}

/* .small-profile-picture{
  width: 150px;
  height: 150px;
  border-radius: 50%;
} */

/* .small-profile-picture{

  width: 150px;
  height: 150px;
  border-radius: 50%;

} */


